/* Obecné definice */
* {padding:0px;margin:0px;color:#fff;}
img {border:none;}
html {font-size:1em;}
body {text-align:center;background:#000;}
li {list-style-type:none;}
h1 {position:relative;width:100%;z-index:0;height:70px;margin-left:10px;line-height:20px;padding-top:25px;}
.h1-podtitul {font-size:0.55em;margin-top:-30px;}
h5 {float:right;padding-right:60px;margin-bottom:40px;}
h5 a {text-decoration:underline;}
h5 a:hover {text-decoration:none;}

a {text-decoration:none;color:#fff;outline:none;}
#center {position:relative;width:1023px;margin:0 auto;text-align:left;}
.center {margin:0 auto;text-align:center;}
.cleaner {clear:both;}
.l {float:left;}
.r {float:right;}
h2 {font-size:1.2em;}

.menu li {position:relative;float:left;}
.menu li a {display:block;padding:2px 10px 5px 10px;color:#fff;font-size:1.1em;}
.menu li a:hover {color:yellow;}
.menu li ul {display:none;}
.menu li:hover ul a {width:180px;padding:2px 10px;}
.menu li:hover ul a:hover {color:#000;}
.menu li:hover ul {position:absolute;display:block;width:200px;background-color:gray;z-index:100;border:1px solid #fff;float:left;}
.menu li:hover ul li {clear:both;}


.obsah{position:absolute;top:125px;width:100%;min-height:540px;background:#000 url('../images/background.jpg') no-repeat;z-index:1;}
.obsah-data {width:901px;min-height:450px;background:#000;margin-left:61px;margin-top:30px;border:1px solid gray;margin-bottom:50px;}
.obsah-data-wiki {width:901px;min-height:450px;background:#000;margin-left:61px;margin-top:30px;border:1px solid gray;margin-bottom:3px;} 
.obsah-data h2, .obsah-data img, .obsah-data-wiki h2, .obsah-data-wiki img {color:white;padding:10px;}
.obsah-data p, .obsah-data-wiki p {padding:3px 10px;}
.obsah-data strong, .obsah-data-wiki strong {padding:8px 10px 3px 10px;text-decoration:underline;}
.obsah-data h2, .obsah-data-wiki h2 {font-size:1.5em;}
.obsah-data h3, .obsah-data-wiki h3 {font-size:1.02em;}
.obsah-data h3.bio, .obsah-data-wiki h3.bio {display:block;padding-bottom:5px;margin-top:5px;margin-bottom:5px;background:#000 url('../images/prechod.jpg') 205px 100% no-repeat;}
.obsah-data-wiki table {width:400px;float:left;}
.obsah-data img, .obsah-data-wiki img {float:left;margin-right:5px;}

.video img {width:200px;height:165px;}
.detail-video iframe {margin-left:170px;margin-top:30px;}
.detail-video a {display:block;margin-top:5px;}

/*REKLAMA*/
.leva-reklama {position:absolute;left:-122px;top:125px;}
.prava-reklama {position:absolute;left:1025px;top:125px;}
.horni-reklama {position:absolute;left:295px;top:0px;}


/*FACEBOOK*/
.fb-like-box {position:absolute;float:right;top:5px;right:0px;}
/*.fb-like-box-profil {position:absolute;}   
                                                                                  